.category {
  padding: 0 10px;
  margin: 0 auto;

  &__header {
    position: sticky;
    background-color: var(--app-backgroung-color);
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  &__body {
    &--grid {
      display: grid;
      grid-gap: 5px;
      grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));
    }
  }

  &__footer {
    --ui-btn--width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    background-color: var(--app-backgroung-color);
    display: flex;
    justify-content: center;
    bottom: 0;
    padding: 15px;
    gap: 10px;
  }

  &__delete-modal-btns {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    gap: 10px;
  }

  @media screen and (min-width: 780px) {
    width: 90%;
  }

  @media screen and (min-width: 1440px) {
    width: 80%;
  }
}
