.list {
  &__header {
    position: sticky;
    background-color: var(--app-backgroung-color);
    top: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
  }

  &__body {
    &--grid {
      display: grid;
      grid-gap: 5px;
      grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));
    }
  }

  &__footer {
    --ui-btn--width: 80%;
    position: sticky;
    background-color: var(--app-backgroung-color);
    display: flex;
    justify-content: center;
    bottom: 0;
    padding: 15px;
  }
}
