@forward './variables/index.scss';
@use './variables/index.scss' as *;

@include font-faces();

:root {
  --font-primary: #{$font-primary};
  --font-secondary: #{$font-secondary};
  --font-star-wars: #{$font-star-wars};

  //colors
  @include system-color-pallet();
  @include brand-color-pallet();
  @include neutral-colors();
  @include gray-color-pallet();
  @include feedback-color-pallet();
  @include severity-color-pallet();
}
